*{
    margin: 0;
    padding: 0;
}

body{
    background: #ccefa7;
    color: #001F3F;
}

.main_notes{
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input.number_input{
    width: 350px;
    height:44px;
    font-size: 24px;
}

button{
    height:40px;
    padding: 8px;
}