{% extends 'profile_front/sign_in.html' %}

{% block title %} <title> Подтверждение </title> {% endblock %}

{% block content %}
        {% if phone_number %}
            <header>
            <div class="menu">
                    <ul>
                        <li><a href="{% url 'sign_in' %}">Отправить на другой номер телефона</a></li>
                    </ul>
            </div>
            </header>
            <div class="main_notes">
                <form action="{% url 'conf_code' phone_number %}" method="POST">
                  {% csrf_token %}
                      <h3>Код отправлен по номеру {{ phone_number }}</h3><br><br>
                      <h3>Введите полученный код в формате XXXX</h3><br>
                      <input  type="text" class="number_input" name='code' placeholder="Пример: 2532"/>
                      <button style="" type="submit" id="">Отправить</button>
                </form>
            </div>
        {% else %}
            <div class="main_notes">
                <h3>НЕВЕРНЫЙ КОД АВТОРИЗАЦИИ</h3><br><br>
                <div class="menu">
                    <ul>
                        <li><a href="{% url 'sign_in' %}">Отправить на другой номер телефона</a></li>
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endblock %}