{% extends 'profile_front/sign_in.html' %}

{% block title %} <title> Профиль </title> {% endblock %}

{% block content %}
        <header>
            <div class="menu">
                    <ul>
                        <li><h2>Профиль {{ id }}</h2></li>
                        <li><a href="{% url 'auth' %}">Выйти</a></li>
                    </ul>
            </div>
        </header>
        <div class="main_notes">
            <h2>INVITE CODE ВАШЕГО АККАУНТА {{ None }}</h2><br><br>
            <form action="{% url 'profile' id %}" method="POST">
              {% csrf_token %}
                  <h3>Введите invite код:</h3><br>
                  <input  type="text" class="number_input" name='phone_number' placeholder="Пример: f4g45K"/>
                  <button style="" type="submit" id="">Отправить</button>
            </form>
        </div>
{% endblock %}